#top-nav {
	background-color: #ffffff;
	height: 30px;
	margin-bottom: 5px;
}

#top-nav p {
	margin-left: 5px;
	line-height: 30px;
	color: #999999;
}

#top-nav ul {
	top: 5px;
	margin: 0px auto;
	margin-right: 5px;
	height: 30px;
}

#top-nav ul li {
	border-right: 2px solid #bbb;
}

#top-nav ul li:last-child {
	border-right: none;
}

#top-nav ul li a {
	color: #333333;
	line-height: 30px;
}

#header {
	margin-bottom: 20px;
}

.header-bg {
	position: absolute;
	width: 100%;
	z-index: -1;
}

.nav {
	height: 30px;
	padding: 5px 0px;
}

.nav-fixed {
	position: fixed;
	top: 0px;
	background-color: #092563;
	z-index: 1;
}

.nav-box {
	height: 30px;
}

.nav ul {
	margin: 0px;
	margin-left: 10px;
	padding-left: 0px;
}

.nav ul li a {
	color: #ffffff;
	line-height: 30px;
}

.nav ul li a:hover:not(.nav-sel) {
	border-bottom: 2px solid #5a89c6;
}

.nav ul li a.nav-sel {
	border-bottom: 2px solid #04b2fb;
}

.nav-search-txt {
	height: 30px;
	padding-left: 10px;
	border: none;
	outline: none;
	background-color: rgba(255, 255, 255, .6);
}

.nav-search-btn {
	background-color: #4cabfb;
	background-image: url(../img/search.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 30px;
	width: 30px;
	border: none;
}

.banner {
	height: 80px;
	margin: 120px auto 80px;
}

.banner .bnr-box .bnr-sign {
	width: 80px;
	height: 80px;
	background-color: rgba(255, 255, 255, .8);
	margin-right: 60px;
}

.banner .bnr-box .bnr-sign:first-child {
	margin: 0px;
}

.banner .bnr-box .bnr-sign img {
	width: 40px;
	margin: 10px 20px 5px 20px;
}

.banner .bnr-box .bnr-sign p {
	text-align: center;
	width: 80px;
	font-weight: bold;
	color: #097ae1;
}

.banner .bnr-img {
	height: 50px;
	margin-right: 40px;
}

.banner .bnr-tit {
	margin: 0px;
	height: 50px;
	line-height: 50px;
	font-size: 48px;
	color: #ffffff;
}

.hd-card {
	display: flex;
	justify-content: space-between;
	height: 150px;
}

.hd-card-box {
	width: 33.3%;
	margin: 0px 5px;
	background-color: #FFF;
	box-shadow: 0 6px 4px rgb(230, 240, 250);
}

.hd-card-box img {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 40%;
	transform: translate(-50%, -50%);
}

.hd-card-box p {
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 50%;
	left: 55%;
	transform: translate(-50%, -50%);
	font-size: 20px;
}

.hdcd-active {
	background-color: #047ee4;
}

.hdcd-active p {
	color: #fff;
}

.hd-card-box:hover:not(.hdcd-active) {
	background-color: #c4e4fe;
}
